.nav-bar {
    font-family: Calibri;
    position: var(--nav-position);
    width: var(--nav-width);
    height: var(--nav-height);
    margin: var(--nav-top-margin) var(--nav-side-margin);
    border-radius: var(--nav-border-radius);
    background-color: var(--light-black);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(25,25,25,.6);
    -moz-box-shadow: 2px 2px 5px 1px rgba(25,25,25,.6);
    box-shadow: 2px 2px 5px 1px rgba(25,25,25,.6);
    transition: all .2s ease-in-out;
}

    .nav-bar.scrolled {
        background-color: var(--light-grey);
    }

.nav-content {
    height: inherit;
    margin: 0 12.5%;
}

.nav-content div {
    display: flex;
    width: 50%;
    height: inherit;
}

.nav-link {
    display: block;
    height: fit-content;
    text-decoration: none;
    color: var(--light-grey);
    transition: all .2s ease-in-out;
}

    .nav-bar.scrolled .nav-link {
        color: var(--light-black);
    }

.nav-link.logo {
    width: fit-content;
    font-size: 27.5px;
    font-weight: 500;
    margin: 23.2px 0;
    letter-spacing: 1px;
}

.nav-link.nav-item {
    position: relative;
    font-size: 16.5px;
    padding: 29.6px 20px 29.6px 20px;
}

.active-url::after {
    content: '';
    position: absolute;
    width: calc(100% - 33px);
    height: 3px;
    border-radius: 1.5px;
    bottom: 25px;
    left: 16.5px;
    background-color: var(--bordeaux-red);
}

    .nav-link.nav-item:hover {
        background-color: #ffffff10;
    }

    .nav-bar.scrolled .nav-link.nav-item:hover {
        background-color: #00000010;
    }